{% load static %}
{% include 'admin/simpleheader.html' %}

<div class="container mt-5  ">
    <div class="card mx-auto" style="max-width: 400px;">
        <div class="card-header bg-dark text-white text-center">
            <h4>ADMIN Login</h4>
        </div>
        <div class="card-body bg-light">
            {% if messages %}
            <div class="container mt-2">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="loginEmail" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="em" required>
                </div>
                <div class="mb-3">
                    <label for="loginPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="pas" required>
                </div>
                <button type="submit" class="btn btn-dark w-75  mx-auto d-block">Login</button>
            </form>
        </div>
    </div>
</div>