<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>VIKRAY CART</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
</head>

<body>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <!-- **********HEADER********** -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand fs-3" href="{% url 'admindashboard' %}">VIKRAY CART</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav ">
                    <li class="nav-item"><a class="nav-link" href="{% url 'manageproduct' %}">MANAGE PRODUCT</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'allcart' %}">VIEW CART</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'manageorders' %}">VIEW ORDERS</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'manageusers' %}">MANAGE USERS</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'manageaddress' %}">VIEW ADDRESS</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'managecontacts' %}">VIEW CONTACTS</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'a_logout' %}" onclick="return confirm('Are you sure you want to LOGOUT ?');">LOGOUT</a></li>
                </ul>
            </div>
        </div>
    </nav> 