<footer class="bg-dark text-white mt-5">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>VIKRAY CART</h5>
        <p>Best place to buy your daily needs with quality and trust.</p>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Services</h5>
        <ul class="list-unstyled">
         
          <li><a href="{% url 'customersupport' %}" class="text-white text-decoration-none">Customer Support</a></li>
          <li><a href="{% url 'about' %}" class="text-white text-decoration-none">Laptop</a></li>
          <li><a href="{% url 'about' %}" class="text-white text-decoration-none">Mobiles</a></li>
          <li><a href="{% url 'about' %}" class="text-white text-decoration-none">Buds</a></li>

        </ul>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Follow Us</h5>
        <a href="https://facebook.com/" class="text-white me-3"><i class="fab fa-facebook"></i></a>
        <a href="https://instagram.com/milan_______022/" class="text-white me-3"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com/" class="text-white me-3"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
    <div class="text-center mt-3">
      &copy; 2025 VIKRAY CART. All rights reserved.
      <a href="{% url 'admin' %}" class="text-light text-decoration-none">VK</a>

    </div>
  </div>
</footer>

</body>
</html>